{{!-- administrador --}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card text-center">
                <div class="card-header text-center">
                    <b class="fs-3">Menú {{user.tipo}}</b>
                </div>
                <div class="card-body text-center">
                    <div class="from control">
                        <label for="">Seleccionar opción</label>
                    </div>
                    <hr>
                    <div>
                        <div class="container">
                            <div class="row justify-content-around">
                                <div class="col">
                                    <label>
                                        <img src="/icons/person-plus.svg" alt="" width="20" height="20" title="person-plus">
                                        <a href="/rusuarios" class="button-menu-1">
                                            Registrar usuarios
                                        </a>
                                    </label>
                                    <label >
                                    <img src="/icons/search.svg" alt="" width="20" height="20" title="search">
                                    <a href="/listauser" class="button-menu-2">
                                        Consultar usuarios
                                    </a>
                                    </label>
                                    <label>
                                        <img src="/icons/award.svg" alt="" width="20" height="20" title="award">
                                        <a href="/rconcurso" class="button-menu-2">
                                            Registrar concurso
                                        </a>
                                    </label>
                                    <label>
                                        <img src="/icons/search.svg" alt="" width="20" height="20" title="search">
                                        <a href="/cconcursoad" class="button-menu-2">
                                            Consultar concurso
                                        </a>
                                    </label>
                                    <label>
                                        <img src="/icons/journal-check.svg" alt="" width="20" height="20" title="journal-check">
                                        <a href="/consultaad" class="button-menu-2">
                                            Consultar ventas
                                        </a>
                                    </label>
                                    <label>
                                        <img src="/icons/envelope.svg" alt="" width="20" height="20" title="envelope">
                                        <a href="/cemail" class="button-menu-2">
                                            Modificar correo
                                        </a>
                                    </label>
                                    <label>
                                        <img src="/icons/key.svg" alt="" width="20" height="20" title="key">
                                        <a href="/admincp" class="button-menu-3">
                                            Cambiar contraseña
                                        </a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>