<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center mx-auto">
            <img src="/img/logo.png" class="animate__bounceIn" alt="Logo" width="175" height="175">
            <h1 class="">Venta de Tickes</h1>
            <h3 class="">
                <b>Su empresa</b> 
            </h3>
            <h6>
               <b>J-00000000-0</b> 
            </h6>
            <a href="/signin" class="btn btn-primary">
                <img src="/icons/person.svg" alt="" width="32" height="32" title="person">
                comenzar
            </a>
            <div class="">
                <b class="eslogan">ยก Suerte ! </b>
            </div>
        </div>
    </header>
</main>
<footer class="fprincipal">
    <p>Desarrollado por: Jorge Martin</p>
    <p><a href="mailto:jmcmaster77@gmail.com" style="color:black">jmcmaster77@gmail.com</a></p>
</footer>