{{!-- usuario --}}
<div class="container p-1">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card body text-center">
                <div class="card-header text-center">
                    <b class="fs-3">Menú {{user.tipo}}</b>
                </div>
                <div class="card-body">
                    <div class="p-1">
                        <b class="fs-3"> Bienvenido {{user.nombre}} {{user.apellido}} </b>
                    </div>
                    <div class="p-1">
                        <b class="fs-3"> Usuario: {{user.usuario}} </b>
                    </div>
                    <hr>
                    <div>
                        <label for="">Seleccionar opción</label>
                    </div>
                    <div class="container">
                        <div class="row justify-content-around">
                            <div class="col">
                                <label >
                                    <img src="/icons/search.svg" alt="" width="20" height="20" title="search">
                                    <a href="/listauseru" class="button-menu-2">
                                        Consultar usuarios
                                    </a>                                    
                                </label>
                                <label >
                                    <img src="/icons/journal-check.svg" alt="" width="20" height="20" title="journal-check">
                                    <a href="/consultau" class="button-menu-2">
                                    Consultar ventas
                                    </a>
                                </label>
                                <label >
                                    <img src="/icons/award.svg" alt="" width="20" height="20" title="award">
                                    <a href="/rconcurso" class="button-menu-2">
                                        Registrar concurso
                                    </a>
                                </label>
                                <label >
                                    <img src="/icons/search.svg" alt="" width="20" height="20" title="search">
                                    <a href="/cconcursou" class="button-menu-2">
                                        Consultar concurso
                                    </a>
                                </label>
                                <label >
                                    <img src="/icons/key.svg" alt="" width="20" height="20" title="key">
                                    <a href="/usercp" class="button-menu-3">
                                        Cambiar clave
                                    </a>                                    
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>